*{
    padding: 0;
    margin: 0;
}
#cabeceraContenido{
    width: 100%; 
    background-color: #67999A;
    display: flex ;
}
#cuerpoContenido{
    width: 100%;   
    background-color: #d3ee9f;
    display: flex;
    padding-top: 50px;
}
footer{
    width: 100%;
    background-color: #7B9E35;
}
#cabeceraImagenNombre{
  flex: 30%;
}
#cabeceraMenu{
   flex: 70%;
   margin: 15px 20px 0 0;
   text-align: right;
}
ul li {
    text-decoration: none;
    display: inline;
    border-right: solid 2px #550101;
}
ul li a{
    color: #550101;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px;
}
ul li a:hover{
    color: white;
    text-decoration: underline;
}
#imagenNombreRedondo{
    width: 150px;
    height: 150px;
    position: relative;
    z-index: 1000;
    left: 10px;
    background-image: url("../img/imagen6.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    border-radius: 75px;
}
#nombreRectangulo{
    background-color: #013334;
    width: 30%;
    padding: 20px;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}
#logoInicio{
    background-image: url(../img/imagen6.png);
    padding: 2px 0 0 18px;
    background-size: 18px;
    background-repeat: no-repeat;
}
#cuerpoImagen{
 flex: 40%;
}
#cuerpoDetalle{
 flex: 60%;
}
#bordeImagen{
    background-color: #d46b68;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    width: 65%;
    margin: auto;

}
img{
    border-radius: 20px;
}
h1{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
#datosDetalle{
    text-align: justify;
    padding: 30px;
}
#Botones{
    display: flex;
}
#botonFavorito{
    flex: 50%;
}
#botonUbicacion{
    flex: 50%;
}
#marcoFavorito{
    width: 30%;
    background-color: #cccccc;
    border-radius: 20px;
    background-image: url(../img/imagen11.png);
    background-size: 28px;
    background-repeat: no-repeat;
    padding: 20px 20px 20px 40px;
    background-position: left 5px center;
}
#marcoUbicacion{
    background-image: url(/img/imagen2.png);
}
.disenoBoton{
    width: 30%;
    background-color: #cccccc;
    border-radius: 20px;
    background-size: 28px;
    background-repeat: no-repeat;
    padding: 20px 20px 20px 40px;
    background-position: left 5px center;
}
.disenoBoton:hover{
    opacity: 60%;
    cursor: pointer;
}
ul li:last-child{
    border-right: none 0;
}
#menuFooter{
    flex: 20%;
}
nav a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav a:hover{
    color: #550101;
    font-size: 20px;
}
#conteniFooter{
    flex: 40%;
    text-align: justify;
    color: white;
}
#socialFooter{
    flex: 40%;
    text-align: center;
}
.socialesFooter li{
 border: none;
}
li img{
    width: 5%;
    padding: 10px;
}
li img:hover{
    cursor: pointer;
    opacity: 60%;
    width: 6%;
}
#marcoFooter{
    display: flex;
    padding: 50px;
}
